@charset "utf-8";
/* CSS Document */

*{
	padding: 0;
	margin:0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-moz-margin-before:0;
	-moz-margin-after:0;
}

a, img {
    border:none;
	outline:none;
}

html, body {
    margin: 0;
    padding: 0;
}
body{
	width:1020px;
	margin: 0 auto;
	background-image:url(images/back.jpg);
	padding-bottom:204px;
}

#logo{
	margin-left:230px;
	margin-top:102px;
}

#bannerText{
	font-family: 'Fredericka the Great', cursive;
	font-size: 30px;
	color:#000;
	margin:60px auto 0;
	text-align:center;
}

#subheader{
	font-family: 'Droid Sans', sans-serif;
	font-size: 20px;
	color:#000;
	margin:60px auto 40px;
	text-align:center;
}

#fb{
	margin-left:280px;
	float:left;
}

#gplus{
	margin-right:280px;
	float:right;
}

/*#social{
	padding-bottom:204px;
	margin-bottom:204px;
}*/

#social:after{
	clear:both;
}